Repository dtsong/data-engineering-skills: changes, and which pre-commit hooks are due for each by the changed paths.
All: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill-frontmatter:
  name: Skill Frontmatter
  entry: python3 pipeline/hooks/check_frontmatter.py
  language: python
  additional_dependencies:
  - pyyaml

skill-references:
  name: Skill Reference Integrity
  entry: python3 pipeline/hooks/check_references.py
  language: python

skill-isolation:
  name: Skill Isolation
  entry: python3 pipeline/hooks/check_isolation.py
  language: python

skill-token-budget:
  name: Skill Token Budget
  entry: python3 pipeline/hooks/check_token_budget.py
  language: python
  verbose: true

skill-prose-check:
  name: Skill Prose Detector
  entry: python3 pipeline/hooks/check_prose.py
  language: python
  verbose: true

skill-ref(all): refactor all skills to comply with governance spec v1.1
  ai-data-integration-skill/SKILL.md
  ai-data-integration-skill/references/llm-transform-patterns.md
  ai-data-integration-skill/references/mcp-data-patterns.md
  ai-data-integration-skill/references/nl-to-sql-patterns.md
  data-orchestration-skill/SKILL.md
  data-orchestration-skill/references/airflow-patterns.md
  data-orchestration-skill/references/dagster-integrations.md
  data-orchestration-skill/references/dagster-patterns.md
  data-orchestration-skill/references/embedded-orchestration.md
  dbt-skill/SKILL.md
  dbt-skill/references/ci-cd-deployment.md
  dbt-skill/references/data-quality-observability.md
  dbt-skill/references/incremental-performance.md
  dbt-skill/references/jinja-macros-packages.md
  dbt-skill/references/semantic-layer-governance.md
  dbt-skill/references/testing-quality.md
  integration-patterns-skill/SKILL.md
  integration-patterns-skill/references/cdc-patterns.md
  integration-patterns-skill/references/data-mapping-crosswalks.md
  integration-patterns-skill/references/dlt-pipelines.md
  integration-patterns-skill/references/enterprise-connectors.md
  integration-patterns-skill/references/event-driven-architecture.md
  integration-patterns-skill/references/ipaas-platforms.md
  pipeline/config/budgets.json
  python-data-engineering-skill/SKILL.md
  python-data-engineering-skill/references/polars-patterns.md
  shared-references/data-engineering/data-quality-patterns.md
  shared-references/data-engineering/security-compliance-patterns.md
  shared-references/data-engineering/warehouse-comparison.md
  streaming-data-skill/SKILL.md
  streaming-data-skill/references/flink-spark-streaming.md
  streaming-data-skill/references/kafka-deep-dive.md
  streaming-data-skill/references/stream-testing-patterns.md
  streaming-data-skill/references/warehouse-streaming-ingestion.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill-ref(all): rewrite descriptions with trigger phrases and negative boundaries
  ai-data-integration-skill/SKILL.md
  data-orchestration-skill/SKILL.md
  dbt-skill/SKILL.md
  integration-patterns-skill/SKILL.md
  python-data-engineering-skill/SKILL.md
  streaming-data-skill/SKILL.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill-ref(python-data-engineering): remove known-concept prose and decision table duplication
  python-data-engineering-skill/SKILL.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill-ref(streaming-data): remove known-concept prose and decision table duplication
  streaming-data-skill/SKILL.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill-ref(ai-data-integration): remove known-concept prose and decision table duplication
  ai-data-integration-skill/SKILL.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill-ref(data-orchestration): remove known-concept prose and decision table duplication
  data-orchestration-skill/SKILL.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill-ref(integration-patterns): remove known-concept prose from core principles
  integration-patterns-skill/SKILL.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill-ref(dbt): remove known-concept prose and decision table duplication
  dbt-skill/SKILL.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill-ref: remove one-level-deep chain violations from reference files
  data-orchestration-skill/references/dagster-integrations.md
  python-data-engineering-skill/references/extraction-patterns.md
  python-data-engineering-skill/references/pyspark-patterns.md
Due: skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill-eval: add navigation eval cases for all 6 data engineering skills
  ai-data-integration-skill/eval-cases/cases/.gitkeep
  ai-data-integration-skill/eval-cases/trigger-cases/ai-data-integration-skill-navigation.md
  data-orchestration-skill/eval-cases/cases/.gitkeep
  data-orchestration-skill/eval-cases/trigger-cases/data-orchestration-skill-navigation.md
  dbt-skill/eval-cases/cases/.gitkeep
  dbt-skill/eval-cases/trigger-cases/dbt-skill-navigation.md
  integration-patterns-skill/eval-cases/cases/.gitkeep
  integration-patterns-skill/eval-cases/trigger-cases/integration-patterns-skill-navigation.md
  python-data-engineering-skill/eval-cases/cases/.gitkeep
  python-data-engineering-skill/eval-cases/trigger-cases/python-data-engineering-skill-navigation.md
  streaming-data-skill/eval-cases/cases/.gitkeep
  streaming-data-skill/eval-cases/trigger-cases/streaming-data-skill-navigation.md
Due: none

skill: add model routing blocks to all SKILL.md files
  ai-data-integration-skill/SKILL.md
  data-orchestration-skill/SKILL.md
  dbt-skill/SKILL.md
  integration-patterns-skill/SKILL.md
  pipeline/templates/skill-suite/SKILL.md
  pipeline/templates/skill-suite/skills/specialist-template/SKILL.md
  pipeline/templates/standalone-skill/SKILL.md
  python-data-engineering-skill/SKILL.md
  streaming-data-skill/SKILL.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill(all): remediate governance audit findings D1, D2, D7, D10, D11
  ai-data-integration-skill/SKILL.md
  ai-data-integration-skill/eval-cases/trigger-cases/ai-data-integration-skill-triggers.md
  ai-data-integration-skill/references/embeddings-pipelines.md
  ai-data-integration-skill/references/llm-transform-patterns.md
  ai-data-integration-skill/references/mcp-data-patterns.md
  ai-data-integration-skill/references/nl-to-sql-patterns.md
  data-orchestration-skill/SKILL.md
  data-orchestration-skill/eval-cases/trigger-cases/data-orchestration-skill-triggers.md
  data-orchestration-skill/references/airflow-patterns.md
  data-orchestration-skill/references/dagster-integrations.md
  data-orchestration-skill/references/dagster-patterns.md
  data-orchestration-skill/references/embedded-orchestration.md
  dbt-skill/SKILL.md
  dbt-skill/eval-cases/trigger-cases/dbt-skill-triggers.md
  dbt-skill/references/ci-cd-deployment.md
  dbt-skill/references/data-quality-observability.md
  dbt-skill/references/incremental-performance.md
  dbt-skill/references/jinja-macros-packages.md
  dbt-skill/references/semantic-layer-governance.md
  dbt-skill/references/testing-quality.md
  integration-patterns-skill/SKILL.md
  integration-patterns-skill/eval-cases/trigger-cases/integration-patterns-skill-triggers.md
  integration-patterns-skill/references/cdc-patterns.md
  integration-patterns-skill/references/data-mapping-crosswalks.md
  integration-patterns-skill/references/dlt-pipelines.md
  integration-patterns-skill/references/event-driven-architecture.md
  python-data-engineering-skill/SKILL.md
  python-data-engineering-skill/eval-cases/trigger-cases/python-data-engineering-skill-triggers.md
  python-data-engineering-skill/references/data-validation-patterns.md
  python-data-engineering-skill/references/extraction-patterns.md
  python-data-engineering-skill/references/pandas-patterns.md
  python-data-engineering-skill/references/polars-patterns.md
  python-data-engineering-skill/references/pyspark-patterns.md
  streaming-data-skill/SKILL.md
  streaming-data-skill/eval-cases/trigger-cases/streaming-data-skill-triggers.md
  streaming-data-skill/references/flink-spark-streaming.md
  streaming-data-skill/references/kafka-deep-dive.md
  streaming-data-skill/references/stream-testing-patterns.md
  streaming-data-skill/references/warehouse-streaming-ingestion.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

chore(pipeline): migrate to skill-governance v1.3.0
  .github/workflows/skill-analyze.yml
  .github/workflows/skill-eval.yml
  .github/workflows/skill-lint.yml
  .github/workflows/skill-publish.yml
  .governance-version
  .pre-commit-config.yaml
  CLAUDE.md
  pipeline/config/budgets.json
  pipeline/config/model-routing.yaml
  pipeline/config/security-suppressions.json
  pipeline/hooks/_utils.py
  pipeline/hooks/check_commit_msg.py
  pipeline/hooks/check_context_load.py
  pipeline/hooks/check_frontmatter.py
  pipeline/hooks/check_isolation.py
  pipeline/hooks/check_prose.py
  pipeline/hooks/check_references.py
  pipeline/hooks/check_token_budget.py
  pipeline/scripts/analyze-patterns.py
  pipeline/scripts/budget-report.py
  pipeline/scripts/check-portability.sh
  pipeline/scripts/check-regressions.py
  pipeline/scripts/check-token-budgets.sh
  pipeline/scripts/context-load-analysis.py
  pipeline/scripts/package-skill.sh
  pipeline/scripts/run-evals.sh
  pipeline/scripts/validate-structure.sh
  pipeline/shell-helpers.sh
  pipeline/specs/SKILL-GOVERNANCE-SPEC.md
  pipeline/specs/SKILL-MODEL-ROUTING-SPEC.md
  pipeline/specs/SKILL-SECURITY-SPEC.md
  pipeline/specs/SKILL-TRIGGER-RELIABILITY-SPEC.md
  pipeline/templates/skill-suite/SKILL.md
  pipeline/templates/skill-suite/eval-cases/evals.json
  pipeline/templates/skill-suite/skills/specialist-template/SKILL.md
  pipeline/templates/standalone-skill/SKILL.md
Due: none

feat(duckdb): enhance with default-engine positioning and read_xlsx support
  duckdb/SKILL.md
  duckdb/references/excel-specifics.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

refactor(client-delivery): split deliverables into three focused reference files
  client-delivery/SKILL.md
  client-delivery/references/deliverable-mapping-doc.md
  client-delivery/references/deliverable-quality-report.md
  client-delivery/references/deliverable-transform-log.md
  client-delivery/references/deliverables.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

feat(templates): add dagster, additional dbt, and dlt templates
  templates/dagster/dbt_assets.py.template
  templates/dagster/definitions.py.template
  templates/dagster/schedules.py.template
  templates/dagster/sensors.py.template
  templates/dbt/intermediate_model.sql.template
  templates/dbt/mart_model.sql.template
  templates/dbt/packages.yml.template
  templates/dbt/profiles.yml.databricks.template
  templates/dbt/profiles.yml.duckdb.template
  templates/dbt/profiles.yml.snowflake.template
  templates/dbt/profiles.yml.sqlserver.template
  templates/dbt/staging_model.sql.template
  templates/dlt/source_sql.py.template
Due: none

chore: add memory/ to .gitignore
  .gitignore
Due: none

chore(routing): migrate event-streaming and ai-data-integration to Sonnet 4.6
  ai-data-integration/SKILL.md
  event-streaming/SKILL.md
  pipeline/config/model-routing.yaml
  pipeline/specs/SKILL-MODEL-ROUTING-SPEC.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

chore(routing): migrate 7 remaining skills from model_tier to model block
  client-delivery/SKILL.md
  data-integration/SKILL.md
  data-pipelines/SKILL.md
  dbt-transforms/SKILL.md
  dlt-extract/SKILL.md
  duckdb/SKILL.md
  python-data-engineering/SKILL.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

fix(routing): fix CI lint failures and revert reasoning description
  pipeline/config/budgets.json
  pipeline/config/model-routing.yaml
  pipeline/scripts/budget-report.py
Due: none

feat(tsfm-forecast): add zero-shot time-series forecasting skill
  CATALOG.md
  install.sh
  tsfm-forecast/SKILL.md
  tsfm-forecast/eval-cases/trigger-cases/tsfm-forecast-navigation.md
  tsfm-forecast/eval-cases/trigger-cases/tsfm-forecast-triggers.md
  tsfm-forecast/references/data-prep-patterns.md
  tsfm-forecast/references/deliverable-templates.md
  tsfm-forecast/references/evaluation-metrics.md
  tsfm-forecast/references/inference-templates.md
  tsfm-forecast/references/model-registry.md
  tsfm-forecast/scripts/ts_profiler.py
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

fix(tsfm-forecast): address PR #11 Codex review — SQL injection and gap detection bugs
  tsfm-forecast/scripts/ts_profiler.py
Due: none

fix(install): make install.sh idempotent with --force flag
  install.sh
Due: none

fix(install): replace declare -A with bash 3.2 compatible function
  install.sh
Due: none

docs(pipeline): add README.md documenting governance tooling
  pipeline/README.md
Due: none

docs(templates): add ENGAGEMENT.yaml template for security manifests
  templates/engagement/ENGAGEMENT.yaml.template
Due: none

skill-ref(security-tier-model): expand with Tier 0-4 and ENGAGEMENT.yaml schema
  shared-references/data-engineering/security-tier-model.md
Due: skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill(data-testing): create testing strategy skill with SQL assertions and pipeline validation
  data-testing/SKILL.md
  data-testing/eval-cases/trigger-cases/data-testing-navigation.md
  data-testing/eval-cases/trigger-cases/data-testing-triggers.md
  data-testing/references/dbt-testing-strategy.md
  data-testing/references/pipeline-validation.md
  data-testing/references/sql-assertion-patterns.md
  data-testing/references/test-as-deliverable.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill(data-governance): create governance skill with cataloging and lineage
  data-governance/SKILL.md
  data-governance/eval-cases/trigger-cases/data-governance-navigation.md
  data-governance/eval-cases/trigger-cases/data-governance-triggers.md
  data-governance/references/access-control.md
  data-governance/references/classification-policies.md
  data-governance/references/compliance-frameworks.md
  data-governance/references/data-catalog.md
  data-governance/references/lineage-patterns.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill(data-observability): create observability skill with monitoring and alerting
  data-observability/SKILL.md
  data-observability/eval-cases/trigger-cases/data-observability-navigation.md
  data-observability/eval-cases/trigger-cases/data-observability-triggers.md
  data-observability/references/alerting-patterns.md
  data-observability/references/freshness-monitoring.md
  data-observability/references/incident-response.md
  data-observability/references/schema-change-detection.md
  data-observability/references/volume-anomaly-detection.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

skill-fix(cross-refs): add handoff links for new skills and duckdb reference
  client-delivery/SKILL.md
  data-pipelines/SKILL.md
  dbt-transforms/SKILL.md
  tsfm-forecast/SKILL.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

fix(install): add new skills to arrays and fix data-platform-engineer role
  install.sh
Due: none

docs(catalog): add new skills, update sizing, mark Phase 5 complete
  CATALOG.md
Due: none

docs(readme): update badge, tables, line counts, and roadmap status
  README.md
Due: none

revert: temporarily revert audit changes for PR workflow
  CATALOG.md
  README.md
  client-delivery/SKILL.md
  data-governance/SKILL.md
  data-governance/eval-cases/trigger-cases/data-governance-navigation.md
  data-governance/eval-cases/trigger-cases/data-governance-triggers.md
  data-governance/references/access-control.md
  data-governance/references/classification-policies.md
  data-governance/references/compliance-frameworks.md
  data-governance/references/data-catalog.md
  data-governance/references/lineage-patterns.md
  data-observability/SKILL.md
  data-observability/eval-cases/trigger-cases/data-observability-navigation.md
  data-observability/eval-cases/trigger-cases/data-observability-triggers.md
  data-observability/references/alerting-patterns.md
  data-observability/references/freshness-monitoring.md
  data-observability/references/incident-response.md
  data-observability/references/schema-change-detection.md
  data-observability/references/volume-anomaly-detection.md
  data-pipelines/SKILL.md
  data-testing/SKILL.md
  data-testing/eval-cases/trigger-cases/data-testing-navigation.md
  data-testing/eval-cases/trigger-cases/data-testing-triggers.md
  data-testing/references/dbt-testing-strategy.md
  data-testing/references/pipeline-validation.md
  data-testing/references/sql-assertion-patterns.md
  data-testing/references/test-as-deliverable.md
  dbt-transforms/SKILL.md
  install.sh
  shared-references/data-engineering/security-tier-model.md
  templates/engagement/ENGAGEMENT.yaml.template
  tsfm-forecast/SKILL.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

Revert "revert: temporarily revert audit changes for PR workflow"
  CATALOG.md
  README.md
  client-delivery/SKILL.md
  data-governance/SKILL.md
  data-governance/eval-cases/trigger-cases/data-governance-navigation.md
  data-governance/eval-cases/trigger-cases/data-governance-triggers.md
  data-governance/references/access-control.md
  data-governance/references/classification-policies.md
  data-governance/references/compliance-frameworks.md
  data-governance/references/data-catalog.md
  data-governance/references/lineage-patterns.md
  data-observability/SKILL.md
  data-observability/eval-cases/trigger-cases/data-observability-navigation.md
  data-observability/eval-cases/trigger-cases/data-observability-triggers.md
  data-observability/references/alerting-patterns.md
  data-observability/references/freshness-monitoring.md
  data-observability/references/incident-response.md
  data-observability/references/schema-change-detection.md
  data-observability/references/volume-anomaly-detection.md
  data-pipelines/SKILL.md
  data-testing/SKILL.md
  data-testing/eval-cases/trigger-cases/data-testing-navigation.md
  data-testing/eval-cases/trigger-cases/data-testing-triggers.md
  data-testing/references/dbt-testing-strategy.md
  data-testing/references/pipeline-validation.md
  data-testing/references/sql-assertion-patterns.md
  data-testing/references/test-as-deliverable.md
  dbt-transforms/SKILL.md
  install.sh
  shared-references/data-engineering/security-tier-model.md
  templates/engagement/ENGAGEMENT.yaml.template
  tsfm-forecast/SKILL.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

chore(governance): upgrade to v1.4.1
  .governance-version
  pipeline/config/model-routing.yaml
  pipeline/config/security-suppressions.json
  pipeline/hooks/check_references.py
  pipeline/scripts/analyze-patterns.py
  pipeline/scripts/budget-report.py
  pipeline/scripts/check-regressions.py
  pipeline/scripts/context-load-analysis.py
  pipeline/specs/SKILL-MODEL-ROUTING-SPEC.md
Due: none

chore: trim ai-data-integration and security-tier-model below token budget
  ai-data-integration/SKILL.md
  shared-references/data-engineering/security-tier-model.md
Due: skill-frontmatter, skill-references, skill-isolation, skill-token-budget, skill-prose-check

Path conditions:
  skill-frontmatter: any of: SKILL\.md$, but not: (eval-cases|templates|node_modules)/
  skill-references: any of: (SKILL\.md|references/.*\.md)$, but not: (eval-cases|templates)/
  skill-isolation: any of: (SKILL\.md|references/.*\.md)$, but not: (eval-cases|templates)/
  skill-token-budget: any of: (SKILL\.md|references/.*\.md)$, but not: (eval-cases|templates|node_modules)/
  skill-prose-check: any of: (SKILL\.md|references/.*\.md)$, but not: (eval-cases|templates)/
